.site-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
  
    // footer is at the bottom
    position: fixed;
    left: 0;
    bottom: 0;
  
    .footer-content {
      margin: auto;
    }
  }
  