// Define colors
$dark-gray: #050505;
$gray-green: #040706;
$light-gray: #080a09;
$white: white;
$logo-red: #C40217;   // Red from the logo
$logo-blue: #0563C1;  // Blue from the logo
$highlight-color: lighten($light-gray, 20%);

// App styles
.App {
  background-color: $dark-gray;
  color: $white;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .App-header {
    display: flex;
    align-items: center;
    background-color: $gray-green;
    padding: 0 20px;
    
    .App-logo {
      height: 150px;
    }

    // Nav wrapper styles
    .nav-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-grow: 1;

      nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }

      nav a {
        color: $white;
        text-decoration: none;
        padding: 10px;
        transition: color 0.3s ease;

        &:hover, &:focus {
          color: $logo-blue;  // Change to logo-blue for hover
        }

        &.active {
          border-bottom: 2px solid $logo-blue;
        }
      }
    }
  }

  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
}

// Mobile responsiveness
@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
    text-align: center;
    padding-left: 0px;

    .App-logo {
      width: 150px;
      justify-content: center;
    }

    .nav-wrapper {
      justify-content: center;
      padding-left: 0px;

      nav {
        flex-direction: column;
      }

      nav a {
        padding: 10px 0;
      }
    }
  }
}
